<script>
  import { createEventDispatcher } from "svelte";
  const dispatcher = createEventDispatcher();

  let name = '';
  let points = 0;

  const submitPlayer = (e) => {
      dispatcher('newPlayer', {
          name,
          points,
      });
      
      resetForm();
  }

  const resetForm = () => {
      name = '';
      points = 0;
  }
</script>

<style>
  input {
    width: 100%;
  }
  .btn-primary {
    background-color: teal;
    color: white;
  }
</style>

<div class="card">
  <form on:submit|preventDefault={submitPlayer}>
    <input type="text" placeholder="insert player name" bind:value={name} />
    <input type="text" placeholder="insert player points" bind:value={points} />

    <button type="submit" class="btn btn-primary">add player</button>
  </form>
</div>
