<script>
  import Navbar from "./Navbar.svelte";
  import Player from "./Player.svelte";
  import AddPlayer from './AddPlayer.svelte';

  let players = [
    {
      name: "Abid Fakhri Maulana",
      points: 25
    },
    {
      name: "Ahmad Saugi",
      points: 37
    },
    {
      name: "Fahrul",
      points: 40
    }
  ];

  const addNewPlayer = (e) => {
	  players = [...players, e.detail];
  }

  const removePlayer = (e) => {
	  players = players.filter(player => player.name !== e.detail);
  }
</script>

<style>
  .container {
    margin: 0 25px;
  }
</style>

<Navbar />
<div class="container">
  <AddPlayer on:newPlayer={addNewPlayer}/>
  {#if players.length == 0}
	<h1>There are no players anymore...</h1>
  {:else}
	{#each players as player}
		<Player {...player} on:remove={removePlayer}/>
	{/each}
  {/if}
</div>
