<style>
    .d-flex{display: flex}
    .justify-content-center{justify-content: center}
    .align-items-center{align-items: center}
    navbar.nav{width: 100%;height:50px;margin-bottom: 25px;}
    .bg-primary{background-color: darkgreen}
    .text-white{color: white;}
</style>

<navbar class="nav bg-primary d-flex justify-content-center align-items-center">
    <h2 class="text-white">Player Scoreboard</h2>
</navbar>