<script>
  import {createEventDispatcher} from 'svelte';
  let dispatch = createEventDispatcher();

  export let name;
  export let points = 0;
  let showControls = false;

  const addPoint = () => {
    points++;
  };

  const removePoint = () => {
    points--;
  };

  const toggleControls = () => {
    showControls = !showControls;
  };

  const remove = () => {
    dispatch("remove", name);
  }
</script>

<style>
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }

  h1 {
    margin: 0;
    font-size: 1.7em;
    color: darkcyan;
  }

  h3 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
  }

  .btn {
    padding: 5px 12px;
  }

  .btn-dark {
    background-color: #444;
    color: #eee;
  }

  input {
    width: 100%;
    margin-top: 10px;
  }

  .d-flex {
    display: flex;
  }
</style>

<div class="card">
  <span class="d-flex">
    <h1>{name}</h1>
    <button class="btn" on:click={toggleControls} style="margin-left:10px">
      {#if showControls}-{:else}+{/if}
    </button>
    <button class="btn" on:click={remove} style="margin-left: 10px">X</button>
  </span>
  <h3>Points : {points}</h3>

  {#if showControls}
    <button class="btn" on:click={addPoint}>+1</button>
    <button class="btn btn-dark" on:click={removePoint}>-1</button>
    <br />
  {/if}

  <input type="number" bind:value={points} />
</div>
